body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mapbox-gl-draw_polygon {
  /* width: 64px !important;
  height: 64px !important;
  margin: 10px; */
  background-image: url("../public/add.png");
  background-size: contain;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  background-color: white;
}

.mapbox-gl-draw_trash {
  /* width: 64px !important;
  height: 64px !important;
  margin: 10px; */
  background-image: url("../public/trash-can.png");
  background-size: contain;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  background-color: white;
}

.mapboxgl-ctrl-attrib-button {
  display: none;
}

.mapboxgl-ctrl-attrib-inner {
  display: none;
}
